In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r"C:\Users\Geetha\OneDrive\Documents\Projects\Sales\sales_data.csv")

In [6]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08-11-2017,11-11-2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12-06-2017,16-06-2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11-10-2016,18-10-2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [7]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [14]:
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [15]:
df.duplicated().sum()

0

In [20]:
df['Postal Code'] = df['Postal Code'].fillna('Unknown')

In [21]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

In [22]:
df.to_csv("Cleaned_dataset.csv", index = False)

In [24]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

In [40]:
# sales by region
region_sales = (df.groupby("Region")["Sales"].sum().reset_index().sort_values(by="Sales", ascending = True))

In [41]:
region_sales

    Region        Sales
2    South  389151.4590
0  Central  492646.9132
1     East  669518.7260
3     West  710219.6845

In [46]:
#sales by category
category_sales = (df.groupby("Category")["Sales"].sum().reset_index().sort_values(by="Sales", ascending = True))

In [47]:
category_sales

          Category        Sales
1  Office Supplies  705422.3340
0        Furniture  728658.5757
2       Technology  827455.8730

In [48]:
# Sales by customer segment
CustomerSegment_sales = (df.groupby("Segment")["Sales"].sum().reset_index().sort_values(by="Sales", ascending = True))

In [49]:
CustomerSegment_sales

       Segment         Sales
2  Home Office  4.249822e+05
1    Corporate  6.884941e+05
0     Consumer  1.148061e+06

In [52]:
df["Order Date"].dtype

dtype('O')

In [61]:
df["Order Date"] = pd.to_datetime(df["Order Date"], format="%d-%m-%Y")

In [62]:
# how do sales change month by month
df["Order_year"] = df["Order Date"].dt.year
df["Order_month"] = df["Order Date"].dt.month

In [70]:
# monthly sales aggregations
monthly_sales = (df.groupby(["Order_year", "Order_month"])["Sales"].sum().reset_index().sort_values(by=["Order_year", "Order_month"]))

In [71]:
monthly_sales.head()

   Order_year  Order_month      Sales
0        2015            1  14205.707
1        2015            2   4519.892
2        2015            3  55205.797
3        2015            4  27906.855
4        2015            5  23644.303

In [74]:
# Insight:
# When I analyzed monthly sales using Python, I observed variations across months, indicating seasonal sales patterns.